/* This styles for span lang (language change) can be overridden in your stylesheet directory in editor-style.css.
  If your have already editor-style.css in your theme, this styles will be overriden, you have to copy the styles here
  into your editor-styles.css to get your language changes visible */
[lang] {
    background: #f8f8f8;
    border: 1px solid #d2d0ce;
    padding: 2px;
}

a[hreflang] {
    background: #f8f8f8;
    border: 1px solid #d2d0ce;
    border-right: 5px solid #BF8EC8;
    padding: 2px;
    color: #9C2E16;
}
