.panel_wrapper div.current {
	height: 290px;
}

#id, #style, #title, #dir, #hreflang, #lang, #classlist, #tabindex, #accesskey, .xmllang,#events_panel input {
	width: 40px;
}

/* a lang class is written hidden to display editor styles for the span element */
#class_row {display: none;}
