input.field, select.field {width:40px;}
input.disabled {border-color:#F2F2F2;}
h1 {padding: 0 0 5px 0;}
.panel_wrapper div.current {height:200px;}
.help-text { margin: 0; padding: 0 0 5px 3px;}
/* a lang class is written hidden to display editor styles for the span element */
#class_row {display: none;}

.lang {border-bottom: 1px solid #000;}
